<?xml version="1.0" encoding="UTF-8"?>
<episode_fs>
    <labelPlugins>
        <plugin>
            <className>micros_label_gen::TimeLabelGeneratorPlugin</className><!--插件类名的全称，包括namespace-->
            <name>timeLabel</name>
            <path>libtimelabel.so</path>
            <length>8</length>
            <!--<Type>1</Type> -->            <!--Type为enum类型{int=1,long,char,unsigned int, unsigned long, unsigned char} -->
        </plugin>
        <plugin>
            <className>micros_label_gen::ColorLabelGeneratorPlugin</className>
            <name>colorLabel</name>
            <path>libcolorlabel.so</path>
            <length>3</length>
            <!--<Type>1</Type> -->            <!--Type为enum类型{int=1,long,char,unsigned int, unsigned long, unsigned char} -->
        </plugin>
    </labelPlugins>
    <sensorPlugins>
        <plugin>
            <name>usb_camera</name>
            <path></path>
            <filepath></filepath>
            <SensorType></SensorType>
            <Setsensor devicename="/dev/video0" startCapture="false"></Setsensor>
            <micparam name="pixelFormat" value="PIXEL_FORMAT_YUYV"> </micparam>
            <micparam name="imageWidth" value="640"></micparam>
            <micparam name="imageHeight" value="480"></micparam>
            <micparam name="nStop" value="1"></micparam>
            <micparam name="sampleRate" value = "0.001"></micparam>
        </plugin>
    </sensorPlugins>
</episode_fs>